<!-- This HTML has bootstrap classes such as "col-md-12" and "jumbotron". For more information, see http://getbootstrap.com/css/ -->
<!-- This HTML makes use of AngularJS data-bindings and controllers. For more information, see https://docs.angularjs.org/api/ -->
<!-- Don't forget to look at the module.js and module.php files too! -->
<!-- This HTML is a template for generated modules via the Module Maker. -->

<div class="col-md-12" ng-controller="openVPNConnectController">
        <div class="panel-group">
            <div class="col-md-12">
                <!-- Base64 Encode/Decode Panel -->
                <div class="panel panel-default">
                    <div class="panel-header text-muted text-center">
                        <h3>OpenVPN Connect</h5>
                    </div>
                    <div id="main-panel" class="panel panel-default">
                        <div class="panel-body">
                        
                              <!-- output section -->
                              <div class="panel-body">
                                <div class="form-group">
                                    
                                        <label class="control-label text-center">Dependencies:</label>
                                        <button type="button" style="width: 90px;" class="btn btn-{{installLabel}} btn-xs" ng-click="handleDependencies()">{{installLabelText}}</button>
                                </div>
                                <div class="form-group">
                                    <label class="control-label text-center">Setup Status</label>
                                        <p>
                                            <input class="form-control" ng-model="workspace.setupcontent" placeholder="" readonly></input>
                                        </p>
                                </div>
                            </div>
                            
                        
                            <!-- input section -->
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="control-label text-center">VPN Config Name</label> <a href="javascript:;" ng-click="workspace.config = ''">Clear</a>
                                        <p>
                                            <input class="form-control" ng-model="workspace.config" placeholder="Enter input"></input>
                                        </p>
                                        <label class="control-label text-center">VPN Config Password (Optional)</label> <a href="javascript:;" ng-click="workspace.pass = ''">Clear</a>
                                        <p>
                                            <input class="form-control" type="password" ng-model="workspace.pass" placeholder="Enter input"></input>
                                        </p>
                                        <label class="control-label text-center">OpenVPN Flags (Optional)</label> <a href="javascript:;" ng-click="workspace.flags = ''">Clear</a>
                                        <p>
                                            <input class="form-control" ng-model="workspace.flags" placeholder="Enter input"></input>
                                        </p>
                                        <div class="input-group">
                                            <span class="input-group-btn text-center">
                                                <button class="btn btn-default" type="button" ng-click="startVPN()">Start VPN</button>
                                                <button class="btn btn-default" type="button" ng-click="stopVPN()">Stop VPN</button>
                                            </span>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- output section -->
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label text-center">Output</label> <a href="javascript:;" ng-click="workspace.outputcontent = ''">Clear</a>
                                    <p>
                                        <textarea class="form-control" rows="1" ng-model="workspace.outputcontent" placeholder="" readonly></textarea>
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>



                <!-- Change Log Pannel -->
                <div class="panel panel-default">
                    <div class="panel-header text-muted text-center">
                        <h5><a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseChangelog">Change Log</a></h5>
                    </div>
                    <div id="collapseChangelog" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><b>1.0</b></li>
                                <ul>
                                    <li class="text-muted">Initial Pineapple Nano Release</li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>